
{% extends 'Base/Header.html' %} {% block content %}

    {% if not book.book_price %}
      <!-- free -->
      <a href="" class="btn waves-effect" style="width:100%" target="_blank"><i class="material-icons" style="vertical-align: inherit;"> chrome_reader_mode</i> Free </a>

      <!-- buy -->
      <div style="margin: 10px;">
        <form action="" method="POST">
          {% csrf_token %}
          <button class="btn waves-effect" type="submit" style="width:100%">
            ${{book.book_price}}
          </button>
        </form>
      </div>
      {% elif loggedin %}
      <!-- bought -->
      <div style="margin: 10px;">
        <a href="" class="btn waves-effect" style="width:100%" target="_blank"
          ><i class="material-icons" style="vertical-align: inherit;"> file_download</i> DOWNLOAD</a
        >
      </div>
      {% endif %}
    </div>
    <!-- image section ends -->

    <!-- description section -->
    <div class="col s12 m6 l7">
      <div class="" style="height:0px; min-height: 367px; margin-bottom: 13px; padding: 10px; border-bottom: 1px solid #8a8a8a82; overflow: hidden;">
        <h6 style="margin-top: 5px; font-weight: 501; display: inline-block;">
          Description:
        </h6>
        <i class="material-icons b_description_down">keyboard_arrow_down</i>
        <p style="text-align: justify; margin:5px 0px;">
          &emsp; {{book.book_description}}
        </p>
      </div>
    </div>
    <!-- description section ends -->

          </form>


{% endblock %}
